@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root {
	/* fonts*/
	--font-roboto: 'Roboto', sans-serif;
	--font-roboto-normal: normal normal 100 1rem 'Roboto', sans-serif;
	--font-roboto-normal-300: normal normal 300 1rem 'Roboto', sans-serif;
	--font-roboto-normal-500: normal normal 500 1rem 'Roboto', sans-serif;
	--font-roboto-bold-500: normal bold 500 1rem 'Roboto', sans-serif;
	--font-roboto-bold-700: normal bold 700 1rem 'Roboto', sans-serif;

	/* colors */
	--primary-color: #003758;
	--secondary-color: #00adfb;
	--secondary-color-faded: #00abfba1;
	--light-color: #ededed;
	--light-secondary-color: #dedede;
	--dark-color: #323c47;

	--invalid-color: rgb(217 48 37);

	/* width */
	--max-width: 1366px;
}
