* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--dark-color);
	cursor: pointer;
}

button {
	border: none;
	font-family: var(--font-roboto);
}
