@use '../../assets/sass/utils/mixins';

.wrapper {
	position: relative;
}

.main-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 210px;
	height: 100%;
	background-color: var(--primary-color);
	transition: all 0.5s ease;
	z-index: 100;

	&__top {
		display: flex;
		align-items: center;
		width: 100%;
		height: 80px;
		padding: 12px 10px;
		line-height: 1.5;
		transition: all 0.5s ease;
		&:hover {
			& .company__logo,
			.company__name {
				opacity: 0.8;
				cursor: pointer;
			}
		}

		& a {
			display: flex;
			justify-content: center;
		}

		& .company {
			&__logo {
				float: left;
				line-height: 0.8;
				margin: -3px 0.5rem 0 0.5rem;
				max-height: 45px;
				transition: all 0.5s ease;
				width: auto;
			}

			&__name {
				font-size: 1rem;
				font-weight: 600;
				text-align: center;
				color: var(--light-color);
			}
		}
	}

	&__center {
		padding: 0 10px 30px;
		height: 90%;

		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 8px; /* Tamaño del scroll en vertical */
			height: 1px; /* Tamaño del scroll en horizontal */
			// display: none;
		}

		&::-webkit-scrollbar-thumb {
			background: #ccc;
			border-radius: 4px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: #b3b3b3;
			box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
			display: visible;
		}
		&::-webkit-scrollbar-thumb:active {
			background-color: #999999;
		}
	}

	&__menu {
		padding-top: 0.5rem;
		&__list {
			&__title {
				color: var(--light-color);
				font-size: 1rem;
				font-weight: 600;
				padding: 0.5rem 0.75rem;
				margin-bottom: 5px;
			}

			&__item {
				margin-bottom: 4px;
				position: relative;
				padding: 0px 5px;
				cursor: pointer;

				& a {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					column-gap: 10px;
					padding: 6px 5px;
					border-radius: 4px;
					color: var(--light-color);
					position: relative;
					transition: all 0.2s ease;

					&:hover {
						background-color: var(--secondary-color-faded);
					}

					&:active {
						transform: translateX(4px);
					}

					& p {
						font: var(--font-roboto-normal-300);
						font-size: 0.9rem;
					}

					&.selected {
						background-color: var(--secondary-color-faded);

						&::before {
							content: '';
							display: block;
							position: absolute;
							width: 4px;
							height: 100%;
							background-color: aliceblue;
							top: 0px;
							left: -15px;
							border-radius: 4px;
						}
						color: var(--light-secondary-color);
					}
				}

				& svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	&.close {
		width: 60px;

		& .company__logo {
			margin: 0;
		}

		& .company__name,
		.title-text,
		.item-name {
			display: none;
		}

		& ~ .main-header {
			left: 60px;
			width: calc(100% - 60px);
		}

		& ~ .content-section {
			margin-left: 60px;
		}
	}
}

.main-header {
	position: relative;
	background-color: var(--primary-color);
	left: 210px;
	width: calc(100% - 210px);
	height: 60px;
	transition: all 0.5s ease;

	& .navbar {
		width: auto;
		height: 60px;
		padding: 0 10px;
		background-color: var(--main-color);
		@include mixins.flex(row, center, space-between);

		&__item {
			& .toggle-button {
				border: none;
				cursor: pointer;
				background-color: transparent;
				color: var(--light-color);
				padding: 2px;
				border-radius: 5px;
				transition: all 0.4s;
				& svg {
					width: 30px;
					height: 30px;
					display: block;
				}

				&:hover {
					opacity: 0.6s;
					background-color: var(--secondary-color-faded);
				}
			}

			&--search {
				width: 30%;
				height: 70%;
			}

			&__account {
				width: 6%;
				position: relative;

				&__btn {
					border-radius: 50%;
					padding: 2px;
					color: var(--primary-color);
					cursor: pointer;
					& svg {
						display: block;
						width: 30px;
						height: 30px;
					}

					&:hover {
						opacity: 0.8;
					}
					&:active {
						transform: translateY(2px);
					}
				}

				& .dropdown {
					position: absolute;
					top: 41px;
					right: 0%;
					width: 280px;
					max-height: 0px;
					overflow: hidden;
					transition: max-height 0.5s;
					z-index: 500;

					&.open-menu {
						overflow: visible;
						max-height: 400px;
					}

					&__menu {
						background-color: var(--dark-color);
						border-radius: 5px;
						padding-bottom: 6px;

						&__header {
							display: flex;
							column-gap: 15px;
							padding: 14px 12px;
							border-bottom: 2px solid var(--light-color);

							&__icon {
								background-color: aliceblue;
								color: var(--primary-color);
								border-radius: 5px;
								padding: 2px;

								& svg {
									width: 30px;
									height: 30px;
								}
							}
							&__account {
								color: var(--light-color);
								font: var(--font-roboto-normal-300);
								&__name {
									font-size: 1rem;
								}
								&__email {
									font-size: 0.8rem;
								}
							}
						}

						&__item {
							font: var(--font-roboto-normal-300);
							padding: 6px 14px;
							&:hover {
								background-color: rgb(37, 37, 37);
							}

							& .logout-btn {
								color: var(--light-color);
								background-color: transparent;
							}
						}
					}
				}
			}
		}
	}
}

.content-section {
	height: 100%;
	background-color: rgb(244 246 249);
	margin-left: 210px;
	transition: margin-left 0.5s ease;

	&__main {
		padding: 0 0.5rem;
		position: relative;
	}
}
