@use '../../../../../../assets/sass/utils/mixins';

.side-nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9999;
	width: 100%;
	visibility: hidden;
	transition: visibility 200ms;

	&.open-panel {
		visibility: visible;

		& .side-nav__overlay {
			opacity: 1;
			visibility: visible;
		}

		& .side-nav__container {
			&.left-panel {
				transform: translate3d(0, 0, 0);
			}
			&.right-panel {
				transform: translate3d(0, 0, 0);
			}
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: opacity 200ms;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 0;
		visibility: hidden;
		background: #323c47b1;
	}

	&__container {
		position: absolute;
		bottom: 0;
		width: 100%;
		max-width: 400px;
		height: 100%;
		background: var(--light-color);
		font-family: var(--font-roboto);
		font-weight: 400;
		z-index: 1;
		overflow: hidden;
		transition: transform 250ms;

		&.left-panel {
			left: 0;
			-webkit-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0);
		}

		&.right-panel {
			right: 0;
			transform: translate3d(100vw, 0, 0);
		}
	}

	&__menu-header {
		@include mixins.flex(row, center, space-between);
		height: 61px;
		padding: 15px 12px;
		border-bottom: 2px solid var(--light-secondary-color);

		&__title {
			color: var(--secondary-color);
			font-size: 20px;

			&--back {
				@include mixins.flex(row, center, flex-start);
				cursor: pointer;

				&__icon {
					width: 20px;
					height: 20px;
					margin-right: 10px;

					& svg {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		&--btn-closed {
			width: 30px;
			height: auto;
			color: var(--dark-color);
			background-color: transparent;
			cursor: pointer;

			& svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__menu-body {
		overflow-y: scroll;
		overflow-x: hidden;
		height: calc(100% - 50px);
		margin-bottom: 60px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	&__content {
		font: var(--font-roboto-normal-300);
		color: var(--dark-color);
		padding: 18px 0 30px 0;

		&__title {
			padding: 10px 12px;
			font-weight: 500;
		}

		&__showAll {
			padding: 0 12px;

			& > a {
				display: block;
				width: 100%;
				padding: 12px 0;
				font: var(--font-roboto-normal-500);
				color: var(--primary-color);
			}
		}

		&__item {
			@include mixins.flex(row, center, flex-start);
			height: 40px;
			padding: 0 12px;
			cursor: pointer;

			& > .icon-left {
				margin-right: 15px;
				& > svg {
					width: 25px;
					height: 25px;
				}
			}

			& > .icon-right {
				margin-left: auto;
				& > svg {
					width: 25px;
					height: 25px;
				}
			}
		}
	}
}
