@use '../../../../../assets/sass/utils/mixins';

.user-actions__popover {
	position: absolute;
	top: 40px;
	right: -66px;
	min-width: 210px;
	background-color: var(--light-color);
	padding: 15px;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	z-index: 9998;
	transition: all 0.3s ease;
	pointer-events: none;

	&::before {
		content: '';
		position: absolute;
		right: 74px;
		top: -10px;
		width: 0;
		height: 0;
		border-width: 1px 10px 10px;
		border-style: solid;
		border-color: transparent transparent var(--light-color);
	}

	&__options {
		&__item {
			margin-bottom: 10px;

			& > a {
				display: inline-block;
				width: 100%;
				font: var(--font-roboto-normal-300);
				transition: all 0.3s ease-out;
				padding: 6px 2px;
				&:hover {
					color: var(--secondary-color);
				}
				border-radius: 2px;
			}
		}
	}
}

.logout-btn {
	@include mixins.flex(row, center, flex-start);
	width: 100%;
	padding: 6px 0;
	column-gap: 15px;
	color: var(--dark-color);
	font-size: 16px;
	cursor: pointer;
	transition: all 0.4s;
	font: var(--font-roboto-normal-300);

	& svg {
		width: 25px;
		height: 25px;
	}

	&:hover {
		opacity: 0.8;
	}
}
